# 方便复制
# @RequestMapping("/kuailu/j?appid=com.kuailu.core.appstudio.form&seid=a1ddfb38-d9cd-42a6-91ff-98a72f9c2b3b&method=")

# 用于设置API名称。缺省情况下, 默认使用api注释的第一行作为API的名称
api.name=#api.name

# 默认的只会导出注解有org.springframework.stereotype.Controller或org.springframework.web.bind.annotation.RestController 的类中的api.
# 当有导出未注解org.springframework.stereotype.Controller或org.springframework.web.bind.annotation.RestController 的类中的api的需求时,可以配置此规则
class.is.ctrl=#ctrl

# 类上的额外注释
# 添加对swagger @Api支持
class.doc=@io.swagger.annotations.Api#value

# 字段的额外注释
# 添加对swagger @ApiModelProperty支持
field.doc=@io.swagger.annotations.ApiModelProperty#value
